---
layout: docs
title: Documentation
subtitle: Explore the detailed documentation of Customer Journey.js features and modules.
---
<div class="section">
    <div class="container">
        <div class="content p-4">
            <h2>Router</h2>
            <div class="fixed-grid has-1-cols-mobile has-3-cols-tablet has-4-cols-desktop">
                <div class="grid">
                    {% assign elements = site.data.links.categories['router'] %}
                    {% for item in elements %}
                        {% include docs/cell.html item=item %} 
                    {% endfor %}
                </div>
            </div>
            <h2>Core</h2>
            <div class="fixed-grid has-1-cols-mobile has-3-cols-tablet has-4-cols-desktop">
                <div class="grid">
                    {% assign elements = site.data.links.categories['core'] %}
                    {% for item in elements %}
                        {% include docs/cell.html item=item %} 
                    {% endfor %}
                </div>
            </div>
            <h2>Components</h2>
            <div class="fixed-grid has-1-cols-mobile has-3-cols-tablet has-4-cols-desktop">
                <div class="grid">
                    {% assign elements = site.data.links.categories['components'] %}
                    {% for item in elements %}
                        {% include docs/cell.html item=item %} 
                    {% endfor %}
                </div>
            </div>
            <h2>Forms</h2>
            <div class="fixed-grid has-1-cols-mobile has-3-cols-tablet has-4-cols-desktop">
                <div class="grid">
                    {% assign elements = site.data.links.categories['forms'] %}
                    {% for item in elements %}
                        {% include docs/cell.html item=item %} 
                    {% endfor %}
                </div>
            </div>
            <h2>Sliders</h2>
            <div class="fixed-grid has-1-cols-mobile has-3-cols-tablet has-4-cols-desktop">
                <div class="grid">
                    {% assign elements = site.data.links.categories['sliders'] %}
                    {% for item in elements %}
                        {% include docs/cell.html item=item %} 
                    {% endfor %}
                </div>
            </div>
            <h2>Link in bio</h2>
            <div class="fixed-grid has-1-cols-mobile has-3-cols-tablet has-4-cols-desktop">
                <div class="grid">
                    {% assign elements = site.data.links.categories['linkin-bio'] %}
                    {% for item in elements %}
                        {% include docs/cell.html item=item %} 
                    {% endfor %}
                </div>
            </div>
            <h2>Gamification</h2>
            <div class="fixed-grid has-1-cols-mobile has-3-cols-tablet has-4-cols-desktop">
                <div class="grid">
                    {% assign elements = site.data.links.categories['gamification'] %}
                    {% for item in elements %}
                        {% include docs/cell.html item=item %} 
                    {% endfor %}
                </div>
            </div>
            <h2>Odoo</h2>
            <div class="fixed-grid has-1-cols-mobile has-3-cols-tablet has-4-cols-desktop">
                <div class="grid">
                    {% assign elements = site.data.links.categories['odoo'] %}
                    {% for item in elements %}
                        {% include docs/cell.html item=item %} 
                    {% endfor %}
                </div>
            </div> 
        </div>
    </div>
    {% include website/sponsorme.html %}
</div>