---
layout: default
title: CustumerJourney.js
subtitle: Open Source Vanilla Javascript Libraries for Building Funnels as System
---
{% include website/hero.html %}
{% include home/level.html %}
<div class="section">
    <div class="container content">
        <p>CustomerJourney.js is a set of JavaScript libraries designed to create landing pages, funnels, and touchpoints with one goal in mind: <b>hyper-personalization</b> of the user experience with AI.</p>
        <h2>The concept is based on macro components:</h2>
        <ol>
            <li><p>Approach as a Web App as a system</p></li>
            <li><p>Each macro component represents an HTML5 section with a layout based on the Bulma style library.</p></li>
            <li><p>The component has no classes, animations, or text.</p></li>
            <li><p>The content, Bulma and custom classes, and animations are passed as a JSON object.</p></li>
            <li><p>Each page detects user behavior and stores it in a Redux state.</p></li>
            <li><p>The page receives information through route parameters and query parameters.</p></li>
            <li><p>The behavior is sent to the backend along with the route and query parameters.</p></li>
            <li><p>From these parameters, the behavior history, and customer information stored in the business management system, an AI can generate a JSON that represents the content, styles, and animations according to the customer profile.</p></li>
            <li><p>CustumerJourney.js is multilingual, has light and dark themes, and animations based on the Animate.css library.</p></li>
            <li><p>CustumerJourney.js is a free, open-source library.</p></li>
        </ol>
    </div>
</div>
{% include home/partners.html %}