<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ page.title }}</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap"
  rel="stylesheet">
<link rel="stylesheet" href="/assets/css/app.css" />
<link rel="stylesheet" href="/assets/css/code.css" />
<link rel="stylesheet" href="/assets/css/map.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/markmap-toolbar@0.18.12/dist/style.css">
<link rel="stylesheet" href="/assets/fontawesome/css/fontawesome.css" />
<link rel="stylesheet" href="/assets/fontawesome/css/solid.css" />
<link rel="stylesheet" href="/assets/fontawesome/css/brands.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.1.0/dist/cookieconsent.css">
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-445JGGLZK0"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'G-445JGGLZK0');
</script>
<!-- Overtracking Pixel Code -->
<script defer src="https://cdn.overtracking.com/t/tWsnrSGMZRnHkpU7S/"></script>
<!-- End Overtracking Pixel Code -->
{% if page.schema_data %}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "SoftwareSourceCode",
    "name": "@customerjourney/{{ page.schema_data.name }}",
    "description": "{{ page.subtitle }}",
    "url": "https://customerjourney.ninja/getting-started/",
    "codeRepository": [
    "https://github.com/antoniofregoso/{{ page.schema_data.name }}",
    "https://www.npmjs.com/package/@customerjourney/{{ page.schema_data.name }}"
    ],
    "supportContact": "https://customerjourney.ninja/sponsor/",
    "programmingLanguage": "JavaScript",
    "version": "{{ page.schema_data.version }}"
  }
  </script>
{% endif %}
<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="manifest" href="/site.webmanifest" />
<script src="/assets/js/app.js" defer></script>