---
title: Project
subtitle: How to create a CJjs project from scratch
layout: usage-guide
---

 <div class="container">
    <div class="content p-4">
        <div class="fixed-grid has-1-cols-mobile has-3-cols-tablet has-4-cols-desktop">
            <div class="grid">
                {% assign elements = site.data.links.categories['project'] %}
                {% for item in elements %}
                    {% include docs/cell.html item=item %} 
                {% endfor %}
            </div>
        </div>
    </div>
</div>