<section class="section">
<div class="container">
<div class="columns has-text-centered">
    <div class="column">
        <span class="icon circle-bg">
            <i class="fas fa-arrows fa-3x"></i>
          </span>
        <p class="is-size-3">Router</p>
        <p class="">Client-side routing with detection of path parameters, query parameters and optionally hass fragment routing.</p>

    </div>
    <div class="column">
        <span class="icon circle-bg">
            <i class="fas fa-people-group fa-3x"></i>
          </span>
        <p class="is-size-3">Adaptable</p>
        <p class="">You can completely change the style and content of the front-end based on parameters to adapt to the user.</p>
    </div>
    <div class="column">
        <span class="icon circle-bg">
            <i class="fas fa-ellipsis-h fa-3x"></i>
          </span>
        <p class="is-size-3">Observable</p>
        <p class="">Detects client behavior within the app by emitting events to adjust the content and behavior of the app.</p>
    </div>
    <div class="column">
        <span class="icon circle-bg">
            <i class="fas fa-gears fa-3x"></i>
          </span>
        <p class="is-size-3">Automatable</p>
        <p class="">It can be easily integrated with applications such as Make, Odoo or chatbots such as Manychat or Rasa.</p>
    </div>
  </div>
</div>
</section>