<section class="section">
    <div class="container">
        <h2 class="is-size-3 has-text-centered" data-animation="fadeIn" data-speed="slow">CustumerJourney.js is made with:</h2>
        <div id="partners" class="swiper mt-6" data-effect="coverflow" data-autoplay="2500" pagination>
            <div class="swiper-wrapper mb-5">
            {% for item in site.data.ux.sliders.partners %}
            {% include home/partner-item.html item=item %}
            {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
          </div>
    </div>
</section>