<div class="card swiper-slide coverflow">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="{{item.image}}" alt="Placeholder image"/>
      </figure>
    </div>
    <div class="card-content">  
      <div class="content">
        <h3 class="title">{{item.name}}</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
        iaculis mauris. </p>
      </div>
    </div>
    <footer class="card-footer">
      <a href="{{item.url}}" target="_blank" class="card-footer-item">Visit</a>
    </footer>
  </div>
  